#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

#Tex stuff
*.aux
*.log
*.synctex.gz
/TestResult.xml
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
Backup/Backup/Atlas/Atlas.cs
Backup/Backup/Atlas/Atlas.csproj
Backup/Backup/Atlas/Atlas/PlayerUpdate.cs
Backup/Backup/Atlas/DebugPlayer.cs
Backup/Backup/Atlas/Entity.cs
Backup/Backup/Atlas/OpenTK.dll.config
Backup/Backup/Atlas/Properties/AssemblyInfo.cs
Backup/Backup/Atlas/Tao.Sdl.dll.config
Backup/Backup/Atlas/packages.config
Backup/Backup/Edge.sln
Backup/Backup/Final/Backing/AssetStore.cs
Backup/Backup/Final/Camera2D.cs
Backup/Backup/Final/DebugPlayer.cs
Backup/Backup/Final/Engine/Dungen.cs
Backup/Backup/Final/Engine/MapCell.cs
Backup/Backup/Final/Engine/Portal.cs
Backup/Backup/Final/Engine/Tile.cs
Backup/Backup/Final/Engine/TileMap.cs
Backup/Backup/Final/Engine/Town.cs
Backup/Backup/Final/Entity.cs
Backup/Backup/Final/Final.cs
Backup/Backup/Final/Font/Helvetica.ttf
Backup/Backup/Final/Font/Helvetica.xnb
Backup/Backup/Final/Images/Background.png
Backup/Backup/Final/Images/Basic_Background.png
Backup/Backup/Final/Images/Button/Greybutton.png
Backup/Backup/Final/Images/Button/TitleButton.png
Backup/Backup/Final/Images/Button/button.png
Backup/Backup/Final/Images/Button/newbtn.jpg
Backup/Backup/Final/Images/Eagle.png
Backup/Backup/Final/Images/Grey.png
Backup/Backup/Final/Images/Input/Keyboard.cs
Backup/Backup/Final/Images/Input/Mouse.cs
Backup/Backup/Final/Images/Logo.png
Backup/Backup/Final/Images/Mage.png
Backup/Backup/Final/Images/MageArms.png
Backup/Backup/Final/Images/Sheets/Player/MageWalkingSprite.png
Backup/Backup/Final/Images/Sheets/Player/MageWalkingSpriteColor.png
Backup/Backup/Final/Images/Sheets/Player/Warrior Sprite Sheet Walking.png
Backup/Backup/Final/Images/Sheets/Tiles/DungenSheet.png
Backup/Backup/Final/Images/Sheets/Tiles/GrassSheet.png
Backup/Backup/Final/Images/base.png
Backup/Backup/Final/Images/layers/back-trees.png
Backup/Backup/Final/Images/layers/front-trees.png
Backup/Backup/Final/Images/layers/lights.png
Backup/Backup/Final/Images/layers/middle-trees.png
Backup/Backup/Final/MainMenu.cs
Backup/Backup/Final/Map/dungenDemo.csv
Backup/Backup/Final/Map/grassDemo.csv
Backup/Backup/Final/OpenTK.dll.config
Backup/Backup/Final/Tao.Sdl.dll.config
Backup/Backup/Final/UI/BIG-TODO-FILE.dat
Backup/Backup/Final/UI/Components/Button.cs
Backup/Backup/Final/UI/Components/Popup.cs
Backup/Backup/Final/UI/Components/Screen.cs
Backup/Backup/Final/UI/Components/Slider.cs
Backup/Backup/Final/UI/Components/UIComponent.cs
Backup/Backup/Final/UI/Implementation/Popups/Alert.cs
Backup/Backup/Final/UI/Implementation/Popups/PauseMenu.cs
Backup/Backup/Final/UI/Implementation/Screens/Loading.cs
Backup/Backup/Final/UI/Implementation/Screens/Opening.cs
Backup/Backup/Final/UI/Implementation/Screens/PostGame.cs
Backup/Backup/Final/UI/Implementation/Screens/Splash.cs
Backup/Backup/Final/UI/Implementation/Screens/ligh/AlphaOne.png
Backup/Backup/Final/UI/Implementation/Screens/ligh/ConvexHull.cs
Backup/Backup/Final/UI/Implementation/Screens/ligh/CustomBlendStates.cs
Backup/Backup/Final/UI/Implementation/Screens/ligh/IConvexHull.cs
Backup/Backup/Final/UI/Implementation/Screens/ligh/WizardSquare.png
Backup/Backup/Final/UI/Implementation/Screens/ligh/light.png
Backup/Backup/Final/UI/Implementation/Screens/ligh/lightSource.cs
Backup/Backup/Final/UI/Implementation/Screens/ligh/tile.JPG
Backup/Backup/Final/UI/Implementation/Screens/lighttest.cs
Backup/Backup/Final/app.config
Backup/Backup/Final/final.csproj
Backup/Backup/Final/packages.config
Backup/Backup/Hyperion/BSP/BspRec.cs
Backup/Backup/Hyperion/BSP/Dungeon.cs
Backup/Backup/Hyperion/Backing/AssetStore.cs
Backup/Backup/Hyperion/Camera2D.cs
Backup/Backup/Hyperion/DebugPlayer.cs
Backup/Backup/Hyperion/Entity.cs
Backup/Backup/Hyperion/Font/Helvetica.ttf
Backup/Backup/Hyperion/Font/Helvetica.xnb
Backup/Backup/Hyperion/Hyperion.cs
Backup/Backup/Hyperion/Hyperion.csproj
Backup/Backup/Hyperion/Images/Background.png
Backup/Backup/Hyperion/Images/Basic_Background.png
Backup/Backup/Hyperion/Images/Button/Greybutton.png
Backup/Backup/Hyperion/Images/Button/button.png
Backup/Backup/Hyperion/Images/Button/newbtn.jpg
Backup/Backup/Hyperion/Images/Eagle.png
Backup/Backup/Hyperion/Images/Grey.png
Backup/Backup/Hyperion/Images/Logo.png
Backup/Backup/Hyperion/Images/Mage.png
Backup/Backup/Hyperion/Images/MageArms.png
Backup/Backup/Hyperion/Images/Sheets/Player/MageWalkingSprite.png
Backup/Backup/Hyperion/Images/Sheets/Player/Warrior Sprite Sheet Walking.png
Backup/Backup/Hyperion/Images/base.png
Backup/Backup/Hyperion/Images/layers/back-trees.png
Backup/Backup/Hyperion/Images/layers/front-trees.png
Backup/Backup/Hyperion/Images/layers/lights.png
Backup/Backup/Hyperion/Images/layers/middle-trees.png
Backup/Backup/Hyperion/Input/Keyboard.cs
Backup/Backup/Hyperion/Input/Mouse.cs
Backup/Backup/Hyperion/OpenTK.dll.config
Backup/Backup/Hyperion/Tao.Sdl.dll.config
Backup/Backup/Hyperion/UI/BIG-TODO-FILE.dat
Backup/Backup/Hyperion/UI/Components/Button.cs
Backup/Backup/Hyperion/UI/Components/Menu.cs
Backup/Backup/Hyperion/UI/Components/Popup.cs
Backup/Backup/Hyperion/UI/Components/Screen.cs
Backup/Backup/Hyperion/UI/Components/Slider.cs
Backup/Backup/Hyperion/UI/Components/UIComponent.cs
Backup/Backup/Hyperion/UI/Implementation/Popups/Alert.cs
Backup/Backup/Hyperion/UI/Implementation/Popups/Chatbox.cs
Backup/Backup/Hyperion/UI/Implementation/Popups/Panel/MenuStrip.cs
Backup/Backup/Hyperion/UI/Implementation/Popups/PauseMenu.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/Gameplay.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/Loading.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/MainMenu.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/Opening.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/PostGame.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/Splash.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/AlphaOne.png
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/ConvexHull.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/CustomBlendStates.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/IConvexHull.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/WizardSquare.png
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/light.png
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/lightSource.cs
Backup/Backup/Hyperion/UI/Implementation/Screens/ligh/tile.JPG
Backup/Backup/Hyperion/UI/Implementation/Screens/lighttest.cs
Backup/Backup/Hyperion/app.config
Backup/Backup/Hyperion/packages.config
Backup/Backup/Lidgren.Network/Encryption/NetAESEncryption.cs
Backup/Backup/Lidgren.Network/Encryption/NetBlockEncryptionBase.cs
Backup/Backup/Lidgren.Network/Encryption/NetCryptoProviderBase.cs
Backup/Backup/Lidgren.Network/Encryption/NetDESEncryption.cs
Backup/Backup/Lidgren.Network/Encryption/NetEncryption.cs
Backup/Backup/Lidgren.Network/Encryption/NetRC2Encryption.cs
Backup/Backup/Lidgren.Network/Encryption/NetTripleDESEncryption.cs
Backup/Backup/Lidgren.Network/Encryption/NetXorEncryption.cs
Backup/Backup/Lidgren.Network/Encryption/NetXteaEncryption.cs
Backup/Backup/Lidgren.Network/Lidgren.Network.csproj
Backup/Backup/Lidgren.Network/NamespaceDoc.cs
Backup/Backup/Lidgren.Network/NetBigInteger.cs
Backup/Backup/Lidgren.Network/NetBitVector.cs
Backup/Backup/Lidgren.Network/NetBitWriter.cs
Backup/Backup/Lidgren.Network/NetBuffer.Peek.cs
Backup/Backup/Lidgren.Network/NetBuffer.Read.Reflection.cs
Backup/Backup/Lidgren.Network/NetBuffer.Read.cs
Backup/Backup/Lidgren.Network/NetBuffer.Write.Reflection.cs
Backup/Backup/Lidgren.Network/NetBuffer.Write.cs
Backup/Backup/Lidgren.Network/NetBuffer.cs
Backup/Backup/Lidgren.Network/NetClient.cs
Backup/Backup/Lidgren.Network/NetConnection.Handshake.cs
Backup/Backup/Lidgren.Network/NetConnection.Latency.cs
Backup/Backup/Lidgren.Network/NetConnection.MTU.cs
Backup/Backup/Lidgren.Network/NetConnection.cs
Backup/Backup/Lidgren.Network/NetConnectionStatistics.cs
Backup/Backup/Lidgren.Network/NetConnectionStatus.cs
Backup/Backup/Lidgren.Network/NetConstants.cs
Backup/Backup/Lidgren.Network/NetDeliveryMethod.cs
Backup/Backup/Lidgren.Network/NetException.cs
Backup/Backup/Lidgren.Network/NetFragmentationHelper.cs
Backup/Backup/Lidgren.Network/NetIncomingMessage.cs
Backup/Backup/Lidgren.Network/NetIncomingMessageType.cs
Backup/Backup/Lidgren.Network/NetMessageType.cs
Backup/Backup/Lidgren.Network/NetNatIntroduction.cs
Backup/Backup/Lidgren.Network/NetOutgoingMessage.cs
Backup/Backup/Lidgren.Network/NetPeer.Discovery.cs
Backup/Backup/Lidgren.Network/NetPeer.Fragmentation.cs
Backup/Backup/Lidgren.Network/NetPeer.Internal.cs
Backup/Backup/Lidgren.Network/NetPeer.LatencySimulation.cs
Backup/Backup/Lidgren.Network/NetPeer.Logging.cs
Backup/Backup/Lidgren.Network/NetPeer.MessagePools.cs
Backup/Backup/Lidgren.Network/NetPeer.Send.cs
Backup/Backup/Lidgren.Network/NetPeer.cs
Backup/Backup/Lidgren.Network/NetPeerConfiguration.cs
Backup/Backup/Lidgren.Network/NetPeerStatistics.cs
Backup/Backup/Lidgren.Network/NetPeerStatus.cs
Backup/Backup/Lidgren.Network/NetQueue.cs
Backup/Backup/Lidgren.Network/NetRandom.Implementations.cs
Backup/Backup/Lidgren.Network/NetRandom.cs
Backup/Backup/Lidgren.Network/NetRandomSeed.cs
Backup/Backup/Lidgren.Network/NetReceiverChannelBase.cs
Backup/Backup/Lidgren.Network/NetReliableOrderedReceiver.cs
Backup/Backup/Lidgren.Network/NetReliableSenderChannel.cs
Backup/Backup/Lidgren.Network/NetReliableSequencedReceiver.cs
Backup/Backup/Lidgren.Network/NetReliableUnorderedReceiver.cs
Backup/Backup/Lidgren.Network/NetSRP.cs
Backup/Backup/Lidgren.Network/NetSendResult.cs
Backup/Backup/Lidgren.Network/NetSenderChannelBase.cs
Backup/Backup/Lidgren.Network/NetServer.cs
Backup/Backup/Lidgren.Network/NetStoredReliableMessage.cs
Backup/Backup/Lidgren.Network/NetTime.cs
Backup/Backup/Lidgren.Network/NetTuple.cs
Backup/Backup/Lidgren.Network/NetUPnP.cs
Backup/Backup/Lidgren.Network/NetUnreliableSenderChannel.cs
Backup/Backup/Lidgren.Network/NetUnreliableSequencedReceiver.cs
Backup/Backup/Lidgren.Network/NetUnreliableUnorderedReceiver.cs
Backup/Backup/Lidgren.Network/NetUtility.cs
Backup/Backup/Lidgren.Network/Platform/PlatformAndroid.cs
Backup/Backup/Lidgren.Network/Platform/PlatformConstrained.cs
Backup/Backup/Lidgren.Network/Platform/PlatformWin32.cs
Backup/Backup/Lidgren.Network/Platform/PlatformWinRT.cs
Backup/Backup/Lidgren.Network/Properties/AssemblyInfo.cs
Backup/Backup/Maestro/Lobbies/Lobby.cs
Backup/Backup/Maestro/Lobbies/Participant.cs
Backup/Backup/Maestro/Maestro.cs
Backup/Backup/Maestro/Maestro.csproj
Backup/Backup/Maestro/Net/ClientInstance.cs
Backup/Backup/Maestro/Properties/AssemblyInfo.cs
Backup/Backup/Tests/NUnit.cs
Backup/Backup/Tests/Tests.csproj
Backup/Backup/Tests/packages.config
